/* --------------- */
/*       RESET     */
/* --------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

:target {
  scroll-margin-block: 5ex;
}

/* remove animations for people who have turned them off */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

/* ----------------- */
/* CUSTOM PROPERTIES */
/* ----------------- */

/* COLORS */

/* FONTS */

/* ----------------- */
/*  UTILITY CLASSES  */
/* ----------------- */

.flex {
  display: flex;
}

.cc {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

/* ------------ */
/*     BODY     */
/* ------------ */

h2::first-letter {
  text-transform: uppercase;
}

/* ------------ */
/*    HEADER    */
/* ------------ */

/* ------------ */
/*     MAIN     */
/* ------------ */

/* --------------------- */
/*      MEDIA QUERIES    */
/* --------------------- */
